mat-tab-group {
    width: 80%;
    /* background-color: blue; */
}

.tab {
    width: 80%;
    margin: 1rem auto;
    /* background-color: white; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    height: 26rem;
    /* width: 100%; */
    margin: 1.5rem auto 1.5rem auto;
}