<h1>Links</h1>

<mat-tab-group class="tab">
    <mat-tab>
        <ng-template mat-tab-label>
            <img class="like-icon" src="assets/github.svg" alt="">
            GitHub
        </ng-template>
        <img src="assets/github.png" alt="">
        <section>
            <a href="https://github.com/marcosdessaUCSal" target="_blank">Clique aqui</a>
        </section>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <img class="like-icon" src="assets/linkedin.svg" alt="">
            LinkedIn
        </ng-template>
        <img src="assets/linkedin.png" alt="">
        <section>
            <a href="https://www.linkedin.com/in/marcos-dessa-de-oliveira-16b987212/" target="_blank">Clique aqui</a>
        </section>
    </mat-tab>

</mat-tab-group>