<mat-card class="container">
    <h1>Uma tabelinha</h1>

    <div class="mat-elevation-z8">

        <!-- Filtro para pesquisa -->
        <div class="c-header">
            <span>
                <mat-form-field class="filtro">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="filtrando($event)" placeholder="Escreva um nome" #input>
                </mat-form-field>
            </span>
            <span class="spacer"></span>
            <span>
                <button (click)="openDialog()" mat-stroked-button color="primary">Novo Contato</button>
            </span>
        </div>



        <table mat-table [dataSource]="dataSource">

            <!-- Coluna Nome -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <!-- Coluna Telefone-->
            <ng-container matColumnDef="tel">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>

            <!-- Coluna Tipo -->
            <ng-container matColumnDef="tipotel">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{identificaCodTipoTel(element.codTipoTel)}} </td>
            </ng-container>

            <!-- Coluna E-mail -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Coluna Criado em -->
            <ng-container matColumnDef="d_criacao">
                <th mat-header-cell *matHeaderCellDef> Criado em </th>
                <td mat-cell *matCellDef="let element"> {{element.dataCriacao}} </td>
            </ng-container>

            <!-- Coluna Modificado em -->
            <ng-container matColumnDef="d_modificacao">
                <th mat-header-cell *matHeaderCellDef> Modificado em </th>
                <td mat-cell *matCellDef="let element"> {{element.dataModificacao}} </td>
            </ng-container>

            <!-- Coluna Ações -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <i (click)="algo()" class="material-icons edit">edit</i>
                    <i class="material-icons delete">delete</i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6, 10]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>