<mat-card class="container">
    <h1>Uma tabelinha</h1>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tel">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="tipotel">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{identificaCodTipoTel(element.codTipoTel)}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="d_criacao">
                <th mat-header-cell *matHeaderCellDef> Criado em </th>
                <td mat-cell *matCellDef="let element"> {{element.dataCriacao}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="d_modificacao">
                <th mat-header-cell *matHeaderCellDef> Modificado em </th>
                <td mat-cell *matCellDef="let element"> {{element.dataModificacao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6, 10]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>