.container {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: aliceblue;
}

table {
    width: 100%;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin-bottom: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit {
    color: darkslateblue;
}

.delete {
    color: brown;
}