.container {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #c0b4dd;
}

table {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(224, 224, 240);
}

mat-form-field {
    width: 40%;
}

button {
    /* width: 100%; */
    margin-bottom: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit {
    color: darkslateblue;
}

.delete {
    color: brown;
}

.direita {
    text-align: right;
}

.spacer {
    flex: 1 1 auto;
}

.c-header {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 0 8px;
}

.filtro {
    width: 300px;
}