<!-- <img src="assets/fundo.jpg" alt=""> -->

<div class="card mat-elevation-z8">
    <mat-card class="cor">
        <div class="container">
            <h1 class="mat-elevation-z8">Meus Contatos</h1>
        </div>
        <img class="imgjob" mat-card-image src="assets/mywork.svg" alt="Meus Contatos">
        <mat-card-content>
            <p *ngIf="false">
                Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim no curso Desenvolvedor Full Stack.<br />
                Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular
                12 e
                Spring Boot 2. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br />
                O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e
                Autorização
                com
                Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu
                lateral.
                <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
                <br /> At.te: Valdir cezar de Jesus
            </p>
            <p>
                Olá! Seja vem-vindo ao 'Meus Contatos'! <br>
                Este é um pequeno projeto que desenvolvi para colocar em meu portfólio. É uma simples aplicação Web, uma
                agenda de contatos, com o back-end feito em Java / Spring Boot e o front-end em Angular / Material. O
                projeto foi feito com o intuito de praticar meu conhecimento recém-adquirido de Angular. <br>
                Espero que gostem! <br><br>
                Marcos Dessa de Oliveira
            </p>
        </mat-card-content>
    </mat-card>
</div>