.card {
    width: 50%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: lightgray;
}

.imgjob {
    height: 15rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
    border: 1px solid rgb(161, 159, 159);
    padding: 1rem 10%;
    border-radius: 2rem;
    background: lightgray;
}

.cor {
    background-color: rgb(232, 232, 215);
}