<div class="container">
    <form class="form mat-elevation-z4">
  
        <h1>Tem certeza de que deseja remover contato?</h1>
  
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input
            [(ngModel)]="contato.nome"
            name="nome"
            matInput
            disabled="true"
            placeholder="Ex. Albert Einstein">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input
            name="tel"
            [(ngModel)]="contato.tel"
            matInput
            disabled="true"
            placeholder="Ex. 42679797">
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
  
        <mat-form-field disabled="true">
            <mat-label><mat-icon matSuffix>type_specimen</mat-icon>Tipo de Telefone</mat-label>
            <mat-select [(value)]="contato.codTipoTel">
              <mat-option *ngFor="let tipo of tiposTel" [value]="tipo.codigo" disabled="true"
              >
                {{tipo.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input
            name="email"
            type="email"
            [(ngModel)]="contato.email"
            matInput
            disabled="true"
            placeholder="Ex. fulano@mail.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
  
        <button (click)="remover()" class="full-width mat-elevation-z4" mat-raised-button color="warn">Remover</button>
        <button (click)="cancelar()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Cancelar</button>
  
    </form>
  
  </div>